APP_ENV=mylocal
APP_DEBUG=0
APP_OS=Windows
LICENCE_KEY=
COMPANY_NAME=

#Database

DB_HOST=.
DB_DATABASE=Ratemanagement3
DB_USERNAME=sa
DB_PASSWORD=asa

DB_HOST2=.
DB_DATABASE2=RMBilling3
DB_USERNAME2=sa
DB_PASSWORD2=asa

DB_HOST3=
DB_DATABASE3=
DB_USERNAME3=
DB_PASSWORD3=

DB_HOSTCDR=
DB_DATABASECDR=
DB_USERNAMECDR=
DB_PASSWORDCDR=

DB_HOSTREPORT=
DB_DATABASEREPORT=
DB_USERNAMEREPORT=
DB_PASSWORDREPORT=